@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap");

:root {
    --primary-color: #0b2553;
    --secondary: #daf0fc;
    --black: #141414;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

.heading {
    position: relative;
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .4rem;
    text-align: center;
    margin-bottom: 3rem;
}




/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%; /* Aumentei o padding para garantir mais altura */
    min-height: 80px; /* Adiciona uma altura mínima ao header */
}

.hover-underline {
    position: relative;
    color: #000;
    transition: color 0.3s ease-in-out;
}

.hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header .logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo img.logo-img {
    height: 60px;
    margin-right: 0.8rem;
}

@media (max-width: 768px) {
    .header {
        padding: 1rem 3%; /* Ajusta o padding em telas menores */
        min-height: 70px; /* Reduz a altura mínima em telas menores */
    }

    .header .logo img.logo-img {
        height: 50px; /* Ajusta o tamanho da logo para telas menores */
    }
}

.header .navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .navbar a {
    font-size: 1.5rem;
    color: var(--black);
    padding: 0.5rem;
}

.header .icons {
    display: flex;
    align-items: center;
}

.header .icons div {
    font-size: 1.8rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .icons .whatsapp-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: var(--black);
    margin-left: 1.5rem;
    cursor: pointer;
    transition: color .2s linear;
}

@media (max-width: 991px) {
    .header .navbar {
        position: fixed;
        top: 0;
        left: 0;
        background: var(--white);
        width: 80%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box-shadow);
        transform: translateX(-100%);
        transition: 500ms ease;
    }

    #menu-btn {
        display: block;
        font-size: 2rem;
    }

    .header .navbar.active {
        transform: translateX(0);
    }

    .header .navbar a {
        margin: 1.5rem 0;
        font-size: 2rem;
    }

    .header .icons {
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    .header .icons #menu-btn {
        display: inline-block;
    }

    .header .icons .whatsapp-btn {
        display: none;
    }
}

@media (max-width: 768px) {
    .header .navbar {
        width: 100%;
        height: auto;
    }

    .header .navbar a {
        font-size: 1.2rem;
        padding: 0.3rem;
    }

    .header .icons div {
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    .header .icons #menu-btn {
        font-size: 1.5rem;
    }

    .header .icons .whatsapp-btn {
        display: none;
    }
}




/* home section */
.home {
    position: relative; /* Necessário para posicionar o pseudo-elemento */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./img/home-bg.jpg") no-repeat center center/cover;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade aqui */
    z-index: 1; /* Garante que a sobreposição fique atrás do conteúdo */
}

.home .content {
    position: relative; /* Necessário para o conteúdo ficar acima da sobreposição */
    color: var(--white);
    text-align: center;
    z-index: 2; /* Garante que o texto fique acima da sobreposição */
}

.home .content h3 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.home .content p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.home .content .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 1.6rem;
    background: var(--primary-color);
    padding: .8rem 3rem;
    border-radius: .5rem;
}

.home .content .btn:hover {
    background: var(--black);
}

.home .content .btn .text-1 {
    display: inline;
}

.home .content .btn .text-2 {
    display: none;
}

@media (max-width: 768px) {
    .home .content h3 {
        font-size: 3rem;
    }

    .home .content p {
        font-size: 1.4rem;
    }

    .home .content .btn {
        font-size: 1.4rem;
        padding: .6rem 2.5rem;
    }
}


/* Home */
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Substitua "sua-imagem.jpg" pelo caminho da sua imagem */
    background: url("./img/background.jpg") no-repeat center center/cover;
}


/* Carrossel */
.carousel-container {
    position: relative;
    width: 100%; /* Garante que o carrossel ocupe toda a largura disponível */
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    height: auto; /* Ajusta a altura conforme o conteúdo */
}

.gallery-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: auto; /* Ajusta a altura automaticamente */
}

.item {
    flex: 0 0 100%; /* Cada item ocupa 100% da largura do carrossel */
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
    position: relative;
}

.item img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do item */
    max-height: 100%; /* Garante que a imagem não ultrapasse a altura do item */
    width: auto; /* Ajusta a largura conforme a altura */
    height: auto; /* Ajusta a altura conforme a largura */
    object-fit: contain; /* Garante que a imagem se ajuste sem cortar */
    display: block; /* Remove espaços abaixo da imagem */
}

/* Estilos dos botões de navegação */
.control {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white);
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 100;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.control:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
}

/* Ajustes responsivos */
@media (max-width: 900px) {
    .carousel-container {
        height: auto; /* Ajusta a altura conforme o conteúdo */
    }

    .item img {
        object-fit: contain; /* Garante que a imagem não seja cortada */
    }
}

@media (max-width: 600px) {
    .carousel-container {
        height: auto; /* Ajusta a altura conforme o conteúdo */
    }

    .control {
        font-size: 1.5rem;
        padding: 0.4rem;
    }
}


/* sobre */

.sobre {
    padding: 5rem 9%;
}

.sobre .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre .sobre-content {
    text-align: center;
    max-width: 700px;
}

.sobre .sobre-content h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.sobre .sobre-content p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}


/* ensinos */

.ensinos {
    padding: 5rem 9%;
    background: var(--secondary);
}

.ensinos .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.ensinos .box {
    background: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.ensinos .box img {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    object-fit: cover;
}

.ensinos .box .content {
    padding: 2rem;
}

.ensinos .box .content h4 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.ensinos .box .content p {
    font-size: 1.5rem;
    color: var(--black);
}


.equipe {
    padding: 5rem 9%;
    background-color: var(--secondary);
}

.equipe h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.equipe .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-items: center; /* Adiciona alinhamento centralizado nas caixas */
}

.equipe .box {
    background: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipe .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.equipe .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.equipe .content h3 {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: .5rem;
}

.equipe .content p {
    font-size: 1.5rem;
    color: var(--black);
}


/* portal */

.portal {
    padding: 5rem 9%;
    background: var(--white);
    text-align: center; /* Center text and buttons */
}

.portal .content {
    max-width: 800px; /* Adjust based on your layout needs */
    margin: 0 auto;
}

.portal .btn {
    display: inline-block;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    color: var(--white);
    background: var(--primary-color);
    margin: 1rem;
    text-decoration: none;
    width: 250px; /* Fixed width for uniformity */
    text-align: center;
    transition: background .3s ease;
}

.portal .btn:hover {
    background: var(--black);
}

.portal .portal-btn {
    background: var(--primary-color); /* Different color for buttons */
}

.portal .portal-btn:hover {
    background: #000000;
}


/* matriculas */

.matriculas {
    padding: 5rem 9%;
}

.matriculas .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matriculas .container h3 {
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 2rem;
}

/* entre em contato */

.contato {
    padding: 5rem 9%;
    background: var(--secondary);
    text-align: center;
}

.contato .heading {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.contato-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.contato-item {
    text-align: center;
}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: var(--black);
    text-decoration: none;
}

.icon-link:hover {
    color: var(--primary-color);
}

.icon-link i {
    font-size: 3rem; /* Adjust size as needed */
    margin-bottom: 0.5rem;
}

.icon-link span {
    font-size: 1.6rem;
}

/* maps section */
.maps {
    padding: 5rem 9%;
    background: var(--secondary);
    text-align: center;
}

.maps .maps-container {
    display: flex;
    background-color: var(--white);
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.maps .map-box {
    width: 100%;
    max-width: 800px; /* Ajuste conforme necessário */
    border-radius: .2rem;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.maps .map-info {
    padding: 1rem;
}

.maps .map-info h3 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: .5rem;
}

.maps .map-info p {
    font-size: 1.6rem;
    color: var(--black);
}

/* Responsividade dos iframes */
.maps iframe {
    width: 100%;
    height: 400px; /* Ajuste conforme necessário */
    border: 0;
    border-radius: .5rem;
}

@media (max-width: 768px) {
    .maps .map-info h3 {
        font-size: 1.8rem;
    }

    .maps .map-info p {
        font-size: 1.4rem;
    }

    .maps iframe {
        height: 300px; /* Ajuste a altura para telas menores */
    }
}


/* mobile-menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%; /* Aumentado para mais visibilidade */
    height: 100%;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 0 1rem 1rem 0; /* Bordas arredondadas para um efeito moderno */
    transform: translateX(-100%);
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem; /* Adiciona padding para espaço interno */
}

/* Estilo do botão de fechar */
.mobile-menu .close-btn {
    font-size: 2.5rem; /* Tamanho maior para melhor visualização */
    color: var(--black);
    cursor: pointer;
    padding: 1rem;
    align-self: flex-end; /* Alinha o botão no canto superior direito */
    transition: color 0.3s ease; /* Transição suave para hover */
}

.mobile-menu .close-btn:hover {
    color: var(--primary-color);
}

/* Estilo dos links no menu */
.mobile-menu .mobile-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Garante que os links usem toda a largura disponível */
}

.mobile-menu .mobile-navbar a {
    font-size: 2rem; /* Tamanho da fonte dos links */
    color: var(--black);
    margin: 1.5rem 0; /* Espaço entre os links */
    transition: color 0.3s ease, transform 0.3s ease; /* Transição suave para hover */
    text-align: center; /* Centraliza o texto */
}

.mobile-menu .mobile-navbar a:hover {
    color: var(--primary-color);
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

/* Estado ativo do menu */
.mobile-menu.active {
    transform: translateX(0);
}

/* Adiciona uma imagem de fundo opcional */
.mobile-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./img/menu-bg.jpg') no-repeat center center/cover; /* Substitua o caminho da imagem */
    opacity: 0.1; /* Torna a imagem de fundo sutil */
    z-index: -1; /* Garante que a imagem fique atrás do conteúdo do menu */
}


@media (max-width: 768px) {
    .header .icons .whatsapp-btn {
        display: block; /* Ensure the WhatsApp button is visible */
    }
}

.matriculas .content {
    text-align: center;
    margin-top: 20px;
}

.whatsapp-btn {
    background-color: #25d366;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 20px;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 10px;
}

.whatsapp-btn:hover {
    background-color: #1ebc57;
    transform: scale(1.1);
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 2rem;
  }
  
  .footer-content {
    text-align: center;
  }
  
  @media (max-width: 768px) {
    footer {
      flex-direction: column;
    }
  }