/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%; /* Aumentei o padding para garantir mais altura */
    min-height: 80px; /* Adiciona uma altura mínima ao header */
}

.header .logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo img.logo-img {
    height: 60px;
    margin-right: 0.8rem;
}

@media (max-width: 768px) {
    .header {
        padding: 1rem 3%; /* Ajusta o padding em telas menores */
        min-height: 70px; /* Reduz a altura mínima em telas menores */
    }

    .header .logo img.logo-img {
        height: 50px; /* Ajusta o tamanho da logo para telas menores */
    }
}

.header .navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .navbar a {
    font-size: 1.5rem;
    color: var(--black);
    padding: 0.5rem;
}

.header .icons {
    display: flex;
    align-items: center;
}

.header .icons div {
    font-size: 1.8rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .icons .whatsapp-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: var(--black);
    margin-left: 1.5rem;
    cursor: pointer;
    transition: color .2s linear;
}

@media (max-width: 991px) {
    .header .navbar {
        position: fixed;
        top: 0;
        left: 0;
        background: var(--white);
        width: 80%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box-shadow);
        transform: translateX(-100%);
        transition: 500ms ease;
    }

    #menu-btn {
        display: block;
        font-size: 2rem;
    }

    .header .navbar.active {
        transform: translateX(0);
    }

    .header .navbar a {
        margin: 1.5rem 0;
        font-size: 2rem;
    }

    .header .icons {
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    .header .icons #menu-btn {
        display: inline-block;
    }

    .header .icons .whatsapp-btn {
        display: none;
    }
}

@media (max-width: 768px) {
    .header .navbar {
        width: 100%;
        height: auto;
    }

    .header .navbar a {
        font-size: 1.2rem;
        padding: 0.3rem;
    }

    .header .icons div {
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    .header .icons #menu-btn {
        font-size: 1.5rem;
    }

    .header .icons .whatsapp-btn {
        display: none;
    }
}
